* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.persona-banner-container {
    width: 100%;
    margin-top: -25px;;
    zoom: 1
}

.persona-banner-container:before, .persona-banner-container:after {
    display: table;
    content: ""
}

.persona-banner-container:after {
    clear: both
}

.persona-banner-container:before, .persona-banner-container:after {
    content: "";
    display: table
}

.persona-banner-container:after {
    clear: both
}

.persona-banner-container .container {
    position: relative
}

.persona-banner-container .persona-banner-list {
    position: relative;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 400%;
    -webkit-animation: loop 25s infinite;
    -moz-animation: loop 25s infinite;
    animation: loop 25s infinite;
    -webkit-transform: translateZ(0)
}

.persona-banner-container .persona-banner-content {
    position: absolute;
    z-index: 5;
    width: 50%;
    text-align: left
}

.persona-banner-container .persona-banner-title {
    font-size: 60px;
    margin-bottom: 15px;
    margin-top: 30%;
    color: #fff;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1
}

.persona-banner-container .persona-banner-text {
    font-size: 20px;
    width: 100%;
    margin: 0 0 25px;
    color: #fff
}

.persona-banner-container .btn-hire {
    margin-right: 10px
}

.persona-banner-container .btn-hire, .persona-banner-container .btn-work {
    min-width: 140px
}

.persona-banner {
    min-height: 580px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    width: 25%;
    position: relative;
    -webkit-transform: translateZ(0)
}

.persona-banner.persona-primary {
    background: url(persona-primary-bg.jpg) no-repeat center center #1e6993
}

.persona-banner.persona-secondary {
    background: url(persona-secondary-bg.jpg) no-repeat center center #45356b
}

.persona-banner.persona-tertiary {
    background: url(persona-tertiary-bg.jpg) no-repeat center center #566d27
}

.persona-banner.persona-tertiary .persona-comment {
    left: 40%;
    bottom: -130px;
    text-align: right
}

.persona-banner.persona-tertiary .persona-comment::before {
    left: auto;
    right: -17px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.persona-comment {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -170px;
    padding-bottom: 12px;
    font-size: 16px;
    color: #fff;
    max-width: 18%;
    text-align: left;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
    line-height: 1.3;
    border-bottom: 2px solid #fff;
    border-bottom: 2px solid rgba(255, 255, 255, .2)
}

.persona-comment::before {
    display: block;
    content: "";
    position: absolute;
    left: -17px;
    bottom: -9px;
    width: 20px;
    height: 2px;
    background: #fff;
    background: rgba(255, 255, 255, .2);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

@-webkit-keyframes loop {
    0% {
        left: 0
    }
    30% {
        left: 0
    }
    33% {
        left: -100%
    }
    66% {
        left: -100%
    }
    69% {
        left: -200%
    }
    97% {
        left: -200%
    }
    99.001% {
        left: -300%
    }
    99.002% {
        left: 0
    }
}

@-moz-keyframes loop {
    0% {
        left: 0
    }
    30% {
        left: 0
    }
    33% {
        left: -100%
    }
    66% {
        left: -100%
    }
    69% {
        left: -200%
    }
    97% {
        left: -200%
    }
    99.001% {
        left: -300%
    }
    99.002% {
        left: 0
    }
}

@keyframes loop {
    0% {
        left: 0
    }
    30% {
        left: 0
    }
    33% {
        left: -100%
    }
    66% {
        left: -100%
    }
    69% {
        left: -200%
    }
    97% {
        left: -200%
    }
    99.001% {
        left: -300%
    }
    99.002% {
        left: 0
    }
}

@media only screen and (max-width: 979px) {
    .persona-comment {
        display: none
    }

    .persona-banner-container .persona-banner-title {
        font-size: 42px;
        margin-top: 45%
    }

    .persona-banner-container .persona-banner-text {
        font-size: 18px
    }
}